<div class="main">
    <h1>MONOPOLY</h1>
    <div class="container">
        <div class="create">
            Create Game
        </div>
        <div class="name">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Your Name</mat-label>
                <input matInput placeholder="Enter your name" [(ngModel)]="user.name">
              </mat-form-field>
        </div>
        <div class="submit">
            <button mat-raised-button color="accent" (click)="submit()">Start</button>
        </div>
    </div>
</div>
