.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  .buy-btn{
    margin: 1rem;
  }

  h1,h3,p{
    margin: 0;
  }
  table{
    td{
      border: 1px solid indigo;
    }
    p{
      margin: 0 0.5rem;
    }
  }
}
